# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp
*.swp

# Package lock files (optional, if you don't want to track them)
package-lock.json
yarn.lock